<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmaceutical Supply Chain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.33/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <nav class="teal">
            <div class="nav-wrapper">
                <!-- <a href="#" class="brand-logo right">Logo</a> -->
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="admin">Admin</a></li>
                    <li><a href="manufacturer">Manufacturer</a></li>
                    <li><a href="wholesaler">Wholesaler</a></li>
                    <li><a href="customer">Customer</a></li>
                </ul>
            </div>
        </nav>
        <h2>Admin</h2>

        <div class="row">
            <div class="col s6">
                <label>Address: </label>
                <p id="part-factory-address">0x84C4770F756B1DF9</p>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <label>Valid Licences: </label>
                <p id="part-factory-address">PHMA000001</p>
                <p id="part-factory-address">PHMA000002</p>
                <p id="part-factory-address">PHMA000003</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label>Manufacturer: </label>
                <select onchange="medicineDetails()" id="create-part-type" class="browser-default">
                    <option value="1"> (0x8100E20F7560989A)</option>
                    <option value="2">Manufacturer 2 (0x81041CA901264982)</option>
                    <option value="3">Manufacturer 3 (0x8106E48AA331876C)</option>
                </select>
                <br>
            </div>
        </div>

        <div id="medicine-holder" style="display:none">
            <table id="medicine-details">
            </table>
        </div>
        
    </div>
    <script>
        function medicineDetails() 
        {
            
            try
            {
                $('#medicine-details').remove();
            }
            catch(e)
            {
            }
            $("#medicine-holder").append($("<table></table>").attr("id","medicine-details"))
            $('#medicine-details').append($("<tr></tr>").attr("id","medicine-header"));
            $('#medicine-header').append($("<td></td>").text('Medicine ID'));
            $('#medicine-header').append($("<td></td>").text('Medicine Name'));
            $('#medicine-header').append($("<td></td>").text('Quantity'));
            $('#medicine-header').append($("<td></td>").text('Mfg. Date'));
            $('#medicine-header').append($("<td></td>").text('Expiry Before'));
            $('#medicine-details').append($("<tr></tr>").attr("id","medicine-row"));
            $('#medicine-row').append($("<td></td>").text('CET598'));
            $('#medicine-row').append($("<td></td>").text('Okacet'));
            $('#medicine-row').append($("<td></td>").text('XYZ'));
            $('#medicine-row').append($("<td></td>").text('10'));
            $('#medicine-row').append($("<td></td>").text('07-19'));
            $('#medicine-row').append($("<td></td>").text('06-21'));
            // for (i = 0;i < json['company_list'].length;i++)
            // {
            //     $('#company-list').append($('<option></option>').attr('value',json['company_list'][i]).text(json['company_list'][i]));
            // }
            $('#medicine-holder').show()
        }

        function getSearchUSN()
        {
            $.ajax({
                url:'/admin/search',
                method:'POST',
                data:{'usn':$('#search-usn').val(), csrfmiddlewaretoken:'{{ csrf_token }}'},
                dataType:'json',
                success:function(data)
                {
                    medicineDetails(data)
                }
            })
        }
    </script>
</body>

</html>