<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmaceutical Supply Chain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.33/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <nav class="teal">
            <div class="nav-wrapper">
                <!-- <a href="#" class="brand-logo right">Logo</a> -->
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="admin">Admin</a></li>
                    <li><a href="manufacturer">Manufacturer</a></li>
                    <li><a href="wholesaler">Wholesaler</a></li>
                    <li><a href="customer">Customer</a></li>
                    <li><a href="intellisearch">Intelli Search</a></li>
                    <li><a href="drugsearch">Drug Search</a></li>
                </ul>
            </div>
        </nav>
        
        <h2>Manufacturer</h2>
        
        <div class="row">
            <div class="col s12">
                <label>Manufacturer: </label>
                <select onchange="getMedicineData()" id="manufacturer-option" class="browser-default">
                    <option value="0x8100E20F7560989A">Save-a-life Solutions</option>
                    <option value="0x81041CA901264982">Pro-Medical Solutions</option>
                    <option value="0x8106E48AA331876C">Med-Awesome Solutions</option>
                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <label>Address: </label>
                <p id="part-factory-address">0x7EAB9672124617E9</p>
            </div>
        </div>
        
        <div class="row">
            <h3>Validate Medicine</h3>
            <form>
                Medicine Name: <input type="text"><br>
                Medicine ID : <input type="text"><br>
                License: <input type="text"><br>
                Quantity: <input type="text" name=""><br>
                <input type="submit" value="Request">
            </form>
        </div>
        <p> Batch ID for your request is: LMN</p>
    </div>
</body>

</html>