<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmaceutical Supply Chain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.33/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <nav class="teal">
            <div class="nav-wrapper">
                <!-- <a href="#" class="brand-logo right">Logo</a> -->
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="admin">Admin</a></li>
                    <li><a href="manufacturer">Manufacturer</a></li>
                    <li><a href="wholesaler">Wholesaler</a></li>
                    <li><a href="search">Intelli Search</a></li>
                    <li><a href="drugsearch">Drug Search</a></li>
                </ul>
            </div>
        </nav>
        
        <h2>Manufacturer</h2>
        
        <div class="row">
            <div class="col s12">
                <label>Manufacturer: </label>
                <select onchange="getMedicineData()" id="manufacturer-option" class="browser-default">
                    <option value="Save-a-life Solutions">Save-a-life Solutions</option>
                    <option value="Pro-Medical Solutions">Pro-Medical Solutions</option>
                    <option value="Med-Awesome Solutions">Med-Awesome Solutions</option>
                </select>
                <br>
            </div>
        </div>
        
        <div class="row" style="display:none" id="med-details">
            <h3> Validate Medicine</h3>
            <form action="/manufacturer" method="POST">
                Manufacturer Name: <input name="man_name" type="text" id="man-name"><br>
                Medicine Name: <input name="med_name" type="text"><br>
                Medicine ID: <input name="med_id" type="text"><br>
                Quantity: <input name="quantity" type="text"><br>
                Mfg. Date: <input name="man_date" type="date"><br>
                Expiry Date: <input name="exp_date" type="date"><br>
                <input type="submit" value="Request">
            </form>
        </div>
        <p>Transaction Hash: LMN</p>
    </div>
    <script>
        function getMedicineData()
        {
            $('#med-details').show()
            $('#man-name').attr('value') = $('#manufacturer-option').find(":selected").attr('value')
        }
    </script>
</body>

</html>