<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive" style="font-size:20px;">
                <img src="{% static 'images/peslogo.png' %}" alt="PES Logo" height="55px">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/students/homepage">Home
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students/company">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students/viewSchedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students/stats">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students/searchCompanyPage">Company-Info</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#policy" href="#policy">Policy</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <span class="caret" style="color:white"></span>
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="color:white;">
                            </button>
                            <ul class="dropdown-menu" background-color="#212529">
                                <li background-color="#212529">  <a class="nav-link" href="/students/logout"><font color="grey">Logout</font></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container" style="margin-top:230px">
  <form method="GET" action="/students/searchCompany">

      {{search_form.as_p}}
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" style="margin-top:25px"></button>

    </div>
  </form>
</div>

</body>
{% endblock %}
</html>