<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmaceutical Supply Chain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.33/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" />
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <nav class="teal">
            <div class="nav-wrapper">
                <!-- <a href="#" class="brand-logo right">Logo</a> -->
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="admin">Admin</a></li>
                    <li><a href="manufacturer">Manufacturer</a></li>
                    <li><a href="wholesaler">Wholesaler</a></li>
                    <li><a href="search">Intelli Search</a></li>
                    <li><a href="drugsearch">Drug Search</a></li>
                </ul>
            </div>
        </nav>
        <h2>Wholesaler</h2>
        
        <div class="row">
            <div class="col s12">
                <label>Medicine: </label><br>
                <select id='medicine-list' onchange="getMedicineData()" style='width: 200px;'>
                </select>
            </div>
        </div>

        <div id="medicine-holder" style="display:none">
            <table id="medicine-details">
            </table>
        </div>
        <div class="row" id="buy-medicine" style="display:none">
            <h3>Buy Medicine</h3>
            <form action="/wholesaler" method="POST">
                Manufacturer Name: <input type="text" name="man_name"><br>
                Medicine Name: <input type="text" name="med_name"><br>
                Quantity: <input type="text" name="quantity"><br>
                <input type="submit" value="Send Request">
            </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        // Initialize select2
        $("#medicine-list").select2();
        $.ajax({
            url:'/wholesalerdata',
            method:'GET',
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            dataType:'json',
            success:function(data)
            {
                medicineNames(data)
            }
        })
    });
    function medicineNames(data)
    {
        data = eval(data)
        for (var key in data)
        {
            $('#medicine-list').append($('<option></option>').attr('value',data[key]).text(data[key]));
        }
    }
    function medicineDetails(data)
    {
        try
        {
            $('#medicine-details').remove();
        }
        catch(e)
        {
        }
        $("#medicine-holder").append($("<table></table>").attr("id","medicine-details"))
        $('#medicine-details').append($("<tr></tr>").attr("id","medicine-header"));
        $('#medicine-header').append($("<td></td>").text('Manufacturer'));
        $('#medicine-header').append($("<td></td>").text('Quantity'));
        $('#medicine-header').append($("<td></td>").text('Mfg. Date'));
        $('#medicine-header').append($("<td></td>").text('Expiry Date'));
        for (i = 0;i < data.length;i++)
        {
            $('#medicine-details').append($("<tr></tr>").attr("id","medicine-row"+i));
            $('#medicine-row'+i).append($("<td></td>").text(data[i].Manufacturer));
            $('#medicine-row'+i).append($("<td></td>").text(data[i].Quantity));
            $('#medicine-row'+i).append($("<td></td>").text(data[i].ManufacturingDate));
            $('#medicine-row'+i).append($("<td></td>").text(data[i].ExpiryDate));
        }
        $('#medicine-holder').show()
        $('#buy-medicine').show()
    }
    function getMedicineData()
    {
        $.ajax({
            url:'/wholesalerdata',
            method:'POST',
            data:{'drug': $('#medicine-list').find(":selected").attr('value'), csrfmiddlewaretoken:'{{ csrf_token }}'},
            dataType:'json',
            success:function(data)
            {
                console.log(data)
                medicineDetails(data)
            }
        })
    }

</script>
</html>